@using TallyJ4.Code.Helper
@using Microsoft.AspNetCore.Mvc.Razor
@{
  var page = (IRazorPage)ViewData["Page"];
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>@ViewData["Title"] - TallyJ</title>

  @Html.Partial("_LayoutHeaders")
  @RenderSection("Head", required: false)
</head>
<body>
  @RenderBody()

  @Html.Partial("_LayoutFooters")
  @RenderSection("Scripts", required: false)
  @ContextItems.GetJavascriptForPage()
  @FileLinking.AddAssociatedJsTag(page)
</body>
</html>
